.jumbotron {
  width: 98%;
  text-align: left;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  margin-bottom: 30px;
}
.table {
  margin-top: 20px;
}
.form-control {
  margin-bottom: 5px;
}
.selecionado {
  background-color: yellow;
}
hr {
  border-color: #999;
}